#search {
	border: 2px solid var(--border-color);
	border-radius: var(--radius);
	height: 50px;
	width: 300px;
	padding: 15px;
	margin-bottom: 30px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#search:focus {
	border-color: var(--link-color);
	outline: none;
}
